.main-chat
  .chat-group
    .chat-group__box
      .chat-group__box--name
        = @group.name
      .chat-group__box--member
        - @group.users.each do |user|
          = user.name
    .chat-group__edit
      = link_to edit_group_path(@group.id),class: "chat-group__edit--line" do
        %p.chat-group__edit--btn
          Edit

  .chat-message
    = render @messages


    
  .chat-form
    =form_for [@group, @message] do |f|
      .chat-form__input-box
        =f.text_field :content, placeholder: "type a message", class: "chat-form__input-box__create" 
        =f.label :image, class: "chat-form__input-box__label" do
          =icon("fa","image",class: "chat-form__input-box__image")
          =f.file_field :image, class:"chat-form__input-box__image__icon"
      =f.submit 'Send', class:"chat-form__send" 


    
 